// COLORS

$black : #000000;
$white : #FFFFFF;

$dark : #191919;
$grey: #eaeaea;

$header-blue : #ced9e4;
$header-blue-light : #e9f0f7;

$cta-blue : #2d4966;

// FONTS

$font--default : 'Open Sans', sans-serif;
$font--title : 'Abril Fatface', serif;

// WEIGHTS

$font--reg : 400;
$font--semibold : 600;
$font--bold : 700;

// SCREEN SIZES

$scr--phablet : 480;
$scr--tablet : 768;
$scr--std: 960;
$scr--wrap : 1024;
$scr--wrappad : 1224;

// MIXIN WRAP

$wrap : 1224; // 1024 + 100px padding either side

// MISC

$fontSize--default : 1.6rem;
$fontSize--small : 1.4rem;
$fontSize--large : 1.8rem;
$lineHeight--default : 1.3;
$radius : .2rem;
$vspacer : 4rem;
$imgassets : '../img/';
$duration : .1s;